body{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: #EE6262;
    line-height: 1.5;

    background-color: #172733;
    margin: 90px auto 40px auto;
    width: 1128px;
}

header{
    display: flex;
    justify-content: space-between;
}

h1 {
    margin: 5px 0 0 0;
    font-size: 40px;
    font-weight: 600;
}

a{
    font-size: 21px;
    color: #F4B0BC;
    text-decoration: none;
    margin-left: 24px;
    transition: font-size 0.5s;
}

a:hover {
    font-size: 22px;
    text-decoration: none;
}

.logo-container p{
    color: #F4B0BC;
}

p {
    margin: 0;
}
section{
    margin: 120px 0 0 0;
    display: flex;
    justify-content: center;
}

.radio-player{
    width: 300px;
}

.radio-player p{
    margin: 5px;
}

hr{
    border-color: #F04B4B;
}

footer {
    margin: 120px 0 0 0;
    display: flex;
    justify-content: center;
}

.footer-container{
    font-size: 14px;
    width: 300px;
}
.footer-container a {
    font-size: 14px;
}