body{
    color: black;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}
#main-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: minmax(100px, auto);
    max-width: 960px;
    grid-gap: 10px;
    margin: 0 auto;
    margin-top: 5%;
}
#main-content div{
    /* border: solid 1px #032946;  */
    padding: 10px;
}
.header{
    grid-column: 1/3;
    border: solid 13px #e75535;
}
#daddyk7-header{
    font-size: 30px;
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 8px;
    font-weight: 600;
}
#about-text{
    font-size: 12px;
    line-height: 1.6;
}
.logo{
    border: solid  black;
}
.radio-container{
    border: solid black;
}
.radio-text{
    display: flex;
    justify-content: center;
    margin-top: 34%;
    font-size: 15px;
}
.circle{
    height: 5px;
    width: 5px;
    background-color: #e75535;
    border-radius: 50%;
    margin-right: 10px;
    -webkit-animation-name: circle;
    -webkit-animation-duration: 5s;
    animation-iteration-count: infinite;
}
@-webkit-keyframes circle {
    from {background-color:#e75535;}
    to{background-color:#b50c0c;}
    to{background-color:#660505;}
    to{background-color:#000000;}
}
img{
    width: 480px;
}
.footer{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
}
.fab{
    font-size: 20px;
    color: #e75535;
}


@media screen and (max-width: 780px) {
    #main-content{
        display: block;
    }
    #main-content div{
        margin-top: 10px;
    }
    #daddyk7-header{
        font-size: 25px;
        font-weight: 500;
    }
    .radio-text{
        font-size: 12px;
    }
}

@media screen and (max-width: 470px) {
    img{
        width: 300px;
    }
}

