body{

    font-size: 32px;
    font-family: 'Trispace', sans-serif;
    line-height: 1.25;
    
    /* background-image: url(./assets/img/daddyk7-trans-logocut.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 600px auto; */

    margin: 0px auto 10px auto;
    width: 1200px;
}

header,section{
    margin: 5px auto 100px auto;
    padding: 30px;

    position: sticky;
    position: -webkit-sticky;
    top: 5px;
}

header{
    margin: 300px auto 250px auto; 
    text-align: center;

    background-color:#ffffff;
    background-image: linear-gradient(180deg, #F9A967, rgb(255, 255, 255, 0)); 
}

header h1{
    font-size: 5em;
    margin: 0;
    padding: 5px;

    color: #AE3FB8;
    background-image: linear-gradient(45deg, #EE6262, #AE3FB8 );
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
}

header h5{
    color: #172733;
} 

section{
    /* min-height: 80vh; */
    min-height: 45vh;
    text-align: center;
}

a{
    display: block;
    color: #ffffff;
    text-decoration: none;
}

.k7-img{
    width: 500px;
}

section.contact {
    background-color:#EE6262;
    background-image: linear-gradient(180deg,#ffffff,  rgb(255, 255, 255, 0));
    margin-bottom: 150px;
}

.social-media{
    
}

section.radio-player {

    background-color:#cf75d8;
    background-image: linear-gradient(180deg, #EE6262, rgb(255, 255, 255, 0));
    color: #ffffff;
    min-height: 0;
}

.the-program{
    width: 80%;
    margin: 0 auto;
}

.the-player{
    margin-top: 10%;
    padding: 14px;
    font-size: 40px;
}

.footer-container p{
    font-size: 16px;
    color: #172733;
}

.footer-container a{
    display: inline-block;
    color: #172733;
}

